/ExerciceDauphine/bin
/ExerciceDauphine/obj
.vs/ExerciceDauphine/DesignTimeBuild/.dtbcache.v2
.vs/ExerciceDauphine/FileContentIndex/5a62dbf5-0f67-43ac-a775-5ae4f8f09a2a.vsidx
/.vs/ExerciceDauphine/CopilotIndices
/.vs/ExerciceDauphine/v17
/.vs/ExerciceDauphine/FileContentIndex
*.bin
